In [2]:
import requests, json, time
import psycopg2 as p
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

## Reactivations (Fleet table)

#### All subsequent changes will need to reflect in all relevant tables

In [ ]:
cur.execute("""
update fleetseek.fleet
set
    product_code = sub_q.product_code,
    company_name = sub_q.company_name,
    company_sort_key = sub_q.company_sort_key,
    website = sub_q.website,
    active_flag = 'Y',
    company_type_code = sub_q.company_type_code,
    fleet_type_id = sub_q.fleet_type_id,
    safety_rating_type_id = sub_q.safety_rating_type_id,
    trucks_owned = sub_q.trucks_owned,
    trucks_leased = sub_q.trucks_leased,
    tractors_owned = sub_q.tractors_owned,
    tractors_leased = sub_q.tractors_leased,
    trailers_owned = sub_q.trailers_owned,
    trailers_leased = sub_q.trailers_leased,
    gvw_class_12 = sub_q.gvw_class_12,
    gvw_class_345 = sub_q.gvw_class_345,
    gvw_class_6 = sub_q.gvw_class_6,
    gvw_class_7 = sub_q.gvw_class_7,
    gvw_class_8 = sub_q.gvw_class_8,
    sic_code = sub_q.sic_code,
    update_date = now()::date,
    haz_trailers_owned = sub_q.haz_trailers_owned,
    haz_trailers_leased = sub_q.haz_trailers_leased,
    haz_trucks_owned = sub_q.haz_trucks_owned,
    haz_trucks_leased = sub_q.haz_trucks_leased,
    vehicle_miles = sub_q.vehicle_miles,
    drivers = sub_q.drivers,
    cdl_drivers = sub_q.cdl_drivers,
    average_miles = sub_q.average_miles,
    year_mileage = sub_q.year_mileage,
    dot_hmind = sub_q.dot_hmind,
    total_trucks = sub_q.total_trucks,
    total_tractors = sub_q.total_tractors,
    total_trailers = sub_q.total_trailers,
    total_vehicles = sub_q.total_vehicles,
    total_vehicles_owned = sub_q.total_vehicles_owned,
    total_vehicles_leased = sub_q.total_vehicles_leased
from (
    select 
        initcap(coalesce(ui.mcmis_name_dba, ui.mcmis_name)) as company_name,
        upper(replace(replace(replace(replace(coalesce(ui.mcmis_name_dba, ui.mcmis_name), ' ', ''), '.', ''), '-', ''), '&', '')) as company_sort_key,
        ui.fs_website as website,
        sub_a."SIC" as sic_code,
        case
            when (substring(sub_a."SIC"::varchar, 3, 1) = '0') then right(sub_a."SIC"::varchar, 1)
            when (substring(sub_a."SIC"::varchar, 3, 1) <> '0') then right(sub_a."SIC"::varchar, 2)
        end as company_type_code,
        coalesce(sub_b.sub_b_product_code, sub_c.sub_c_product_code) as product_code,
        coalesce(sub_b.sub_b_fleet_type_id, sub_c.sub_c_fleet_type_id) as fleet_type_id,
        case 
            when (ui.mcmis_rating = 'C') then 107
            when (ui.mcmis_rating = 'S') then 109
            when (ui.mcmis_rating = 'U') then 110
        end as safety_rating_type_id,
        sum(ui.mcmis_owntruck + ui.fs_haz_trucks_owned) as trucks_owned,
        sum(ui.mcmis_trmtruck + ui.mcmis_trptruck + ui.fs_haz_trucks_leased) as trucks_leased,
        ui.mcmis_owntract as tractors_owned,
        sum(ui.mcmis_trmtract + ui.mcmis_trptract) as tractors_leased,
        sum(ui.mcmis_owntrail + ui.fs_haz_trailers_owned) as trailers_owned,
        sum(ui.mcmis_trmtrail + ui.mcmis_trptrail + ui.fs_haz_trailers_leased) as trailers_leased,
        ui.fs_gvw_class_12 as gvw_class_12,
        ui.fs_gvw_class_345 as gvw_class_345,
        ui.fs_gvw_class_6 as gvw_class_6,
        ui.fs_gvw_class_7 as gvw_class_7,
        ui.fs_gvw_class_8 as gvw_class_8,
        ui.fs_haz_trailers_owned as haz_trailers_owned,
        ui.fs_haz_trailers_leased as haz_trailers_leased,
        ui.fs_haz_trucks_owned as haz_trucks_owned,
        ui.fs_haz_trucks_leased as haz_trucks_leased,
        ui.mcmis_mlg150 as vehicle_miles,
        ui.mcmis_tot_drs as drivers,
        ui.mcmis_cdl_drs as cdl_drivers,
        ui.mcmis_mcs150mileageyear as year_mileage,
        ui.mcmis_hm_ind as dot_hmind,
        sum(ui.mcmis_owntruck + ui.mcmis_trmtruck + ui.mcmis_trptruck + ui.fs_haz_trucks_owned + ui.fs_haz_trucks_leased) as total_trucks,
        sum(ui.mcmis_owntract + ui.mcmis_trmtract + ui.mcmis_trptract) as total_tractors,
        sum(ui.mcmis_owntrail + ui.mcmis_trmtrail + ui.mcmis_trptrail + ui.fs_haz_trailers_owned + ui.fs_haz_trailers_leased) as total_trailers,
        sum(ui.mcmis_owntruck + ui.mcmis_trmtruck + ui.mcmis_trptruck + ui.fs_haz_trucks_owned + ui.fs_haz_trucks_leased + ui.mcmis_owntract + ui.mcmis_trmtract + ui.mcmis_trptract) as total_vehicles,
        sum(ui.mcmis_owntruck + ui.fs_haz_trucks_owned + ui.mcmis_owntract) as total_vehicles_owned,
        sum(ui.mcmis_trmtruck + ui.mcmis_trptruck + ui.fs_haz_trucks_leased + ui.mcmis_trmtract + ui.mcmis_trptract) as total_vehicles_leased,
        fs_fleet_id,
        ui.mcmis_average_miles as average_miles

        from fleetseek.update_input_2 as ui
        left join (
            select tt.*, sub_ff.census_num, sub_ff."SIC"
            from (
                select 
                case 
                    when (sub_f.total_tractors = 0 and total_trailers > 0) then 'Utility'
                    when (sub_f.total_trailers = 1) then initcap("Trailer Type if 1 Trailer")
                    when (sub_f.total_trailers = 2) then initcap(coalesce("Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"))
                    when (sub_f.total_trailers = 3) then initcap(coalesce("Trailer Type if 3 Trailers", "Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"))
                    when (sub_f.total_trailers = 4) then initcap(coalesce("Trailer Type if 4 or more trailers", "Trailer Type if 3 Trailers", "Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"))
                    when (sub_f.total_trailers = 5) then initcap(coalesce("Trailer Type if 5 or More trailers", "Trailer Type if 4 or more trailers", "Trailer Type if 3 Trailers", "Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"))
                    when (sub_f.total_trailers = 6) then initcap(coalesce("Trailer type if 6 or more trailers", "Trailer Type if 5 or More trailers", "Trailer Type if 4 or more trailers", "Trailer Type if 3 Trailers", "Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"))
                    when (sub_f.total_trailers = 7) then initcap(coalesce("Trailer type if 7 or more trailers", "Trailer type if 6 or more trailers", "Trailer Type if 5 or More trailers", "Trailer Type if 4 or more trailers", "Trailer Type if 3 Trailers", "Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"))
                    when (sub_f.total_trailers > 7) then initcap(coalesce("Trailer type if 7 or more trailers", "Trailer type if 6 or more trailers", "Trailer Type if 5 or More trailers", "Trailer Type if 4 or more trailers", "Trailer Type if 3 Trailers", "Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"))

                end as trailer_type,
                sub_f.*
                from (
                    select 
                        sub_q.total_trailers, 
                        sub_q.census_num, 
                        sub_q.product_code, 
                        sub_q.total_tractors, 
                        sub_q.sub_q_commod_key, 
                        tk.*
                    from (
                        select concat( genfreight,  household,  usmail,  intermodal,  paperprod,  beverages,  coldfood,  produce,  meat, 
                                 livestock,  grainfeed,  farmsupp,  drybulk,  bldgmat,  metalsheet,  logpole,  construct,  machlrg,  oilfield,
                                 waterwell,  liqgas,  chem,  coalcoke,  garbage,  drivetow,  motorveh,  mobilehome,  utility,  cargoothr) as sub_q_commod_key,
                        *

                        from (
                            select
                                mcmis_census_num as census_num,
                                mcmis_class as class,
                                fs_product_code as product_code,

                                case 
                                    when(mcmis_genfreight is not null) then 'genfreight' else null
                                end as genfreight,
                                case
                                    when(mcmis_household is not null) then 'household' else null
                                end as household,
                                case
                                    when(mcmis_metalsheet is not null) then 'metalsheet' else null
                                end as metalsheet,
                                case
                                    when(mcmis_motorveh is not null) then 'motorveh' else null
                                end as motorveh,
                                case
                                    when(mcmis_drivetow is not null) then 'drivetow' else null
                                end as drivetow,
                                case
                                    when(mcmis_logpole is not null) then 'logpole' else null
                                end as logpole,
                                case
                                    when(mcmis_bldgmat is not null) then 'bldgmat' else null
                                end as bldgmat,
                                case
                                    when(mcmis_mobilehome is not null) then 'mobilehome' else null
                                end as mobilehome,
                                case
                                    when(mcmis_machlrg is not null) then 'machlrg' else null
                                end as machlrg,
                                case
                                    when(mcmis_produce is not null) then 'produce' else null
                                end as produce,
                                case
                                    when(mcmis_liqgas is not null) then 'liqgas' else null
                                end as liqgas,
                                case
                                    when(mcmis_intermodal is not null) then 'intermodal' else null
                                end as intermodal,
                                case
                                    when(mcmis_passengers is not null) then 'passengers' else null
                                end as passengers,
                                case
                                    when(mcmis_oilfield is not null) then 'oilfield' else null
                                end as oilfield,
                                case
                                    when(mcmis_livestock is not null) then 'livestock' else null
                                end as livestock,
                                case
                                    when(mcmis_grainfeed is not null) then 'grainfeed' else null
                                end as grainfeed,
                                case
                                    when(mcmis_coalcoke is not null) then 'coalcoke' else null
                                end as coalcoke,
                                case
                                    when(mcmis_meat is not null) then 'meat' else null
                                end as meat,
                                case
                                    when(mcmis_garbage is not null) then 'garbage' else null
                                end as garbage,
                                case
                                    when(mcmis_usmail is not null) then 'usmail' else null
                                end as usmail,
                                case
                                    when(mcmis_chem is not null) then 'chem' else null
                                end as chem,
                                case
                                    when(mcmis_drybulk is not null) then 'drybulk' else null
                                end as drybulk,
                                case
                                    when(mcmis_coldfood is not null) then 'coldfood' else null
                                end as coldfood,
                                case
                                    when(mcmis_beverages is not null) then 'beverages' else null
                                end as beverages,
                                case
                                    when(mcmis_paperprod is not null) then 'paperprod' else null
                                end as paperprod,
                                case
                                    when(mcmis_utility is not null) then 'utility' else null
                                end as utility,
                                case
                                    when(mcmis_farmsupp is not null) then 'farmsupp' else null
                                end as farmsupp,
                                case
                                    when(mcmis_construct is not null) then 'construct' else null
                                end as construct,
                                case
                                    when(mcmis_waterwell is not null) then 'waterwell' else null
                                end as waterwell,
                                case
                                    when(mcmis_cargoothr is not null) then 'cargoothr' else null
                                end as cargoothr,
                                sum(mcmis_owntrail + mcmis_trmtrail + mcmis_trptrail) as total_trailers,
                                sum(mcmis_owntract + mcmis_trmtract + mcmis_trptract) as total_tractors
                            from fleetseek.update_input_2
                            where 
                                mcmis_class in ('A', 'AB', 'ABD', 'ABG', 'ABL', 'AG', 'AGL', 'AL', 'B', 'BL') and
                                fs_product_code in ('OOD', 'NMC')

                            group by 

                                mcmis_genfreight, mcmis_household, mcmis_metalsheet, mcmis_motorveh, mcmis_drivetow, mcmis_logpole, mcmis_bldgmat, 
                                mcmis_mobilehome, mcmis_machlrg, mcmis_produce, mcmis_liqgas, mcmis_intermodal, mcmis_passengers, mcmis_oilfield, 
                                mcmis_livestock, mcmis_grainfeed, mcmis_coalcoke, mcmis_meat, mcmis_garbage, mcmis_usmail, mcmis_chem,
                                mcmis_drybulk, mcmis_coldfood, mcmis_beverages, mcmis_paperprod, mcmis_utility, mcmis_farmsupp, mcmis_construct,
                                mcmis_waterwell, mcmis_othercargo, mcmis_census_num, mcmis_cargoothr, mcmis_class, fs_product_code

                            having 

                                (sum(mcmis_owntruck + mcmis_trptruck+mcmis_trmtruck) >= 2 or
                                (sum(mcmis_owntruck + mcmis_trptruck + mcmis_trmtruck) = 1 and sum(mcmis_owntract + mcmis_trptract + mcmis_trmtract) = 0 and sum(mcmis_owntrail + mcmis_trmtrail + mcmis_trptrail) >= 2) or
                                (sum(mcmis_owntruck + mcmis_trptruck+mcmis_trmtruck) = 0 and sum(mcmis_owntract + mcmis_trptract + mcmis_trmtract) >= 1 and sum(mcmis_owntrail + mcmis_trmtrail + mcmis_trptrail) >= 2)) or
                                (sum(mcmis_owntract + mcmis_trmtract + mcmis_trptract) = 1 and sum(mcmis_owntrail + mcmis_trmtrail +mcmis_trptrail) <= 1 and sum(mcmis_owntruck + mcmis_trmtruck + mcmis_trptruck) = 0 and
                                mcmis_class similar to 'A%|B%' or mcmis_class = 'AB')

                        ) as sub_a
                    ) as sub_q
                left join 
                "Trailer_key" as tk
                on btrim(tk.commod_key) = btrim(sub_q.sub_q_commod_key)
                ) as sub_f
            ) as sub_ff
        join fleetseek.trailer_type as tt
        on sub_ff.trailer_type = tt.name
        ) as sub_a

        on ui.mcmis_census_num = sub_a.census_num


        left join (
            select 
                mcmis_census_num as sub_b_census_num,
                'OOD' as sub_b_product_code,
                105 as sub_b_fleet_type_id
            from fleetseek.update_input_2
            where 
                mcmis_passengers is null and
                mcmis_carship like 'C%' and
                (mcmis_class similar to 'A%|B%' or
                mcmis_class = 'AB') and 
                mcmis_mcs150_date > now() - interval '2 years' and
                mcmis_tot_buses = 0
            group by mcmis_census_num

            having 
                (sum(mcmis_owntract + mcmis_trmtract + mcmis_trptract) = 1 and sum(mcmis_owntrail + mcmis_trmtrail + mcmis_trptrail) <= 1) and 
                sum(mcmis_owntruck + mcmis_trmtruck + mcmis_trptruck) = 0
        ) as sub_b
        on ui.mcmis_census_num = sub_b.sub_b_census_num
        left join (
            select
                mcmis_census_num as sub_c_census_num,
                'NMC' as sub_c_product_code,
                104 as sub_c_fleet_type_id
            from fleetseek.update_input_2
            where
                mcmis_class in ('A', 'AB', 'ABD', 'ABG', 'ABL', 'AG', 'AGL', 'AL', 'B', 'BL')
            group by mcmis_census_num

            having 
                (sum(mcmis_owntruck + mcmis_trmtruck + mcmis_trptruck) >= 2 or
                (sum(mcmis_owntruck + mcmis_trmtruck + mcmis_trptruck) = 1 and sum(mcmis_owntract + mcmis_trmtract + mcmis_trptract) = 1) or
                (sum(mcmis_owntruck + mcmis_trmtruck + mcmis_trptruck) >= 1 and sum(mcmis_owntract + mcmis_trmtract + mcmis_trptract) = 0 and sum(mcmis_owntrail + mcmis_trmtrail + mcmis_trptrail) >= 2) or
                (sum(mcmis_owntruck + mcmis_trmtruck + mcmis_trptruck) = 0 and sum(mcmis_owntract + mcmis_trmtract + mcmis_trptract) >= 1 and sum(mcmis_owntrail + mcmis_trmtrail + mcmis_trptrail) >= 2))
        ) as sub_c
        on ui.mcmis_census_num = sub_c_census_num
        group by 
            ui.mcmis_name,
            ui.mcmis_name_dba,
            ui.fs_website,
            sub_a."SIC",
            sub_b.sub_b_product_code,
            sub_b.sub_b_fleet_type_id,
            sub_c.sub_c_product_code,
            sub_c.sub_c_fleet_type_id,
            ui.mcmis_rating,
            ui.mcmis_owntract,
            ui.fs_gvw_class_12,
            ui.fs_gvw_class_345,
            ui.fs_gvw_class_6,
            ui.fs_gvw_class_7,
            ui.fs_gvw_class_8,
            ui.fs_haz_trailers_owned,
            ui.fs_haz_trailers_leased,
            ui.fs_haz_trucks_owned,
            ui.fs_haz_trucks_leased ,
            ui.mcmis_mlg150,
            ui.mcmis_tot_drs,
            ui.mcmis_cdl_drs,
            ui.mcmis_mcs150mileageyear,
            ui.mcmis_hm_ind,
            ui.fs_fleet_id,
            ui.mcmis_average_miles

) as sub_q
where fleet.fleet_id = sub_q.fs_fleet_id

""")
conn.commit()

## This section will run addresses through Business Coder taken from reinstatements. Updates for address changes will happen later in the script

In [20]:
password = '*****'

conn = p.connect(database = 'postgres', user = 'postgres', password = password, 
                       host = 'localhost', port = 5433)
cur = conn.cursor()

In [7]:
cur.execute("""select fs_fleet_id, mcmis_name, mcmis_phy_str, mcmis_phy_city, mcmis_phy_state_code, mcmis_phy_zip_code, 
                mcmis_mai_str, mcmis_mai_city, mcmis_mai_state_code, mcmis_mai_zip_code, mcmis_phone, l.address1, update_reason
                from fleetseek.update_input_2 as ui
                left join fleetseek.location as l
                on ui.fs_physical_location_id = l.location_id
                where l.address1 is null 
                """)
rows = cur.fetchall()

In [ ]:
for index, data in enumerate(rows):
    if data[2] != data[6] or 'Address Change' in data[12]:
        print(data)

In [10]:
phy_add = []

with requests.Session() as s:
    
    for index, data in enumerate(rows):
        
        r = s.get("""https://businesscoder.melissadata.net/WEB/BusinessCoder/doBusinessCoderUS?id=F2xsYwygKO1EfNo3Ppd335**&cols=GrpCensus,GrpGeoCode,GrpBusinessCodes, 
                    GrpAddressDetails,GrpBusinessDescription,Contacts&comp=""" + data[1] + """&a1="""+ data[2] + """&city=""" + data[3] + """&state=""" + data[4] + 
                  """&postal=""" + data[5] + """&phone=""" +str(data[10]))
        phy_info = r.json()
        
        phy_add.append([phy_info, {'index_number':index, 'fs_fleet_id':data[0]}])

In [11]:
# Compares the first and second addrresses and only send it through if they're different
# 2/25/2020 Need to change it to Physical Address Change or Mailing Address Change
mai_add = []


with requests.Session() as s:
    
    for index, data in enumerate(rows):
        if data[2] != data[6] or 'Address Change' in data[12]:
            
            r = s.get("""https://businesscoder.melissadata.net/WEB/BusinessCoder/doBusinessCoderUS?id=F2xsYwygKO1EfNo3Ppd335**&cols=GrpCensus,GrpGeoCode,GrpBusinessCodes, 
                      GrpAddressDetails,GrpBusinessDescription,Contacts&comp=""" + data[1] + """&a1="""+ data[6] + """&city=""" + data[7] + """&state=""" + data[8] + 
                      """&postal=""" + data[9] + """&phone=""" +str(data[10]))
            
            mai_info = r.json()
            
            mai_add.append([mai_info, {'index_number':index, 'fleet_id':data[0]}])
            
        else:
            continue

In [12]:
df1 = pd.DataFrame(columns = ['fleet_id', 'company_name', 'phy_address1', 'phy_address2', 'phy_city', 'phy_state', 'phy_countyfips', 'phy_countyname', 'phy_latitude', 
                              'phy_longitude', 'phy_zip_code', 'phy_result_codes'])

for index, info in enumerate(phy_add):

    
    fleet_id = info[1]['fs_fleet_id']
    company_name = info[0]['Records'][0]['CompanyName']
    phy_address = info[0]['Records'][0]['AddressLine1']
    phy_suite = info[0]['Records'][0]['Suite']
    phy_city = info[0]['Records'][0]['City']
    phy_state = info[0]['Records'][0]['State']
    phy_zip_code = info[0]['Records'][0]['PostalCode']
    phy_countyfips = info[0]['Records'][0]['CountyFIPS']
    phy_countyname = info[0]['Records'][0]['CountyName']
    phy_latitude = info[0]['Records'][0]['Latitude']
    phy_longitude = info[0]['Records'][0]['Longitude']
    phy_result_codes = info[0]['Records'][0]['Results']
    
    df1 = df1.append({'fleet_id':fleet_id, 'company_name':company_name, 'phy_address1':phy_address, 'phy_address2':phy_suite, 'phy_city':phy_city, 
                      'phy_state':phy_state,'phy_countyfips':phy_countyfips, 'phy_countyname':phy_countyname, 'phy_latitude':phy_latitude, 'phy_longitude':phy_longitude, 
                      'phy_zip_code': phy_zip_code, 'phy_result_codes':phy_result_codes}, ignore_index = True)

In [13]:
df2 = pd.DataFrame(columns = ['fleet_id', 'mai_address1', 'mai_address2', 'mai_city', 'mai_state', 'mai_countyfips', 'mai_countyname', 'mai_latitude', 
                              'mai_longitude', 'mai_zip_code', 'mai_result_codes'])

for index, info in enumerate(mai_add):

        
    fleet_id = info[1]['fleet_id']
    mai_address = info[0]['Records'][0]['AddressLine1']
    mai_suite = info[0]['Records'][0]['Suite']
    mai_city = info[0]['Records'][0]['City']
    mai_state = info[0]['Records'][0]['State']
    mai_countyfips = info[0]['Records'][0]['CountyFIPS']
    mai_countyname = info[0]['Records'][0]['CountyName']
    mai_latitude = info[0]['Records'][0]['Latitude']
    mai_longitude = info[0]['Records'][0]['Longitude']
    mai_zip_code = info[0]['Records'][0]['PostalCode']
    mai_result_codes = info[0]['Records'][0]['Results']
    
    df2 = df2.append({'fleet_id':fleet_id, 'mai_address1':mai_address, 'mai_address2':mai_suite, 'mai_city':mai_city, 'mai_state':mai_state, 
                      'mai_countyfips':mai_countyfips, 'mai_countyname':mai_countyname, 'mai_latitude':mai_latitude, 'mai_longitude':mai_longitude, 
                      'mai_zip_code': mai_zip_code, 'mai_result_codes':mai_result_codes}, ignore_index = True)

In [14]:
df3 = df1.merge(df2, on = 'fleet_id', how = 'left')

In [15]:
df3 = df3.replace('', value = np.nan)

df3['mai_address1'].fillna(df3['phy_address1'], inplace = True)
df3['mai_address2'].fillna(df3['phy_address2'], inplace = True)
df3['mai_city'].fillna(df3['phy_city'], inplace = True)
df3['mai_state'].fillna(df3['phy_state'], inplace = True)
df3['mai_countyfips'].fillna(df3['phy_countyfips'], inplace = True)
df3['mai_countyname'].fillna(df3['phy_countyname'], inplace = True)
df3['mai_latitude'].fillna(df3['phy_latitude'], inplace = True)
df3['mai_longitude'].fillna(df3['phy_longitude'], inplace = True)
df3['mai_zip_code'].fillna(df3['phy_zip_code'], inplace = True)
df3['mai_result_codes'].fillna(df3['phy_result_codes'], inplace = True)

In [16]:
df3.head()

,fleet_id,company_name,phy_address1,phy_address2,phy_city,phy_state,phy_countyfips,phy_countyname,phy_latitude,phy_longitude,...,mai_address1,mai_address2,mai_city,mai_state,mai_countyfips,mai_countyname,mai_latitude,mai_longitude,mai_zip_code,mai_result_codes
0,928372,Victory White Metal Co,3027 E 55th St,NaN,Cleveland,OH,39035,Cuyahoga,41.475967,-81.650809,...,3027 E 55th St,NaN,Cleveland,OH,39035,Cuyahoga,41.475967,-81.650809,44127-1275,"AS01,AS24,DA20,FS01,FS04,FS05,GS05"
1,928398,Missouri Goldfish Hatchery Inc.,517 Hatchery Rd,NaN,Stover,MO,29141,Morgan,38.511550,-93.063350,...,517 Hatchery Rd,NaN,Stover,MO,29141,Morgan,38.511550,-93.063350,65078-1132,"AS01,FE01,GS05"
2,57687,HARVEY GRAY INC,1708 Fite Ter,NaN,Langhorne,PA,42017,Bucks,40.197058,-74.927201,...,1708 Fite Ter,NaN,Langhorne,PA,42017,Bucks,40.197058,-74.927201,19047-1206,"AS01,DA40,DA50,FS01,FS02,FS04,FS05,GS05"
3,928780,Ardex All American Mineral Co,120 E Richmond St,NaN,Shawano,WI,55115,Shawano,44.774340,-88.607877,...,120 E Richmond St,NaN,Shawano,WI,55115,Shawano,44.774340,-88.607877,54166-2946,"AS01,DA20,FS01,FS04,GS05"
4,928491,TEX-AIR GAS CO INC,2305 Julian Blvd,NaN,Amarillo,TX,48375,Potter,35.201927,-101.863867,...,PO Box 427,NaN,Amarillo,TX,48375,Potter,35.204332,-101.832179,79105-0427,"AS01,AS20,FS01,FS02,FS04,GS05"

In [23]:
cur.execute("""
create table fleetseek.business_coder_updates_temp
(
    fleet_id integer,
    company_name varchar,
    phy_address1 varchar,
    phy_address2 varchar,
    phy_city varchar,
    phy_state varchar,
    phy_countyfips integer,
    phy_countyname varchar,
    phy_latitude numeric(10,6),
    phy_longitude numeric(10,6),
    phy_zip_code varchar,
    phy_result_codes varchar,
    mai_address1 varchar,
    mai_address2 varchar,
    mai_city varchar,
    mai_state varchar,
    mai_countyfips varchar,
    mai_countyname varchar,
    mai_latitude numeric(10,6),
    mai_longitude numeric(10,6),
    mai_zip_code varchar,
    mai_result_codes varchar
)

""")
conn.commit()

In [17]:
engine = create_engine("postgresql://{user}:{pw}@localhost:5433/{db}"
                      .format(user = 'postgres',
                             pw = 'Evergreen1',
                             db = 'postgres'))

df3.to_sql('business_coder_updates', con = engine, if_exists='append', schema='fleetseek', index=False, chunksize = 1000, method = 'multi')

In [ ]:
# Adds a fleet_id column to be able to map it back to specific company
cur.execute("""
alter table fleetseek.location
add column fleet_id integer;

alter table fleetseek.contact
add column fleet_id integer;

alter table fleetseek.email
add column fleet_id integer;

alter table fleetseek.phone_number
add column fleet_id integer;
""")
conn.commit()

## Fleetseek location for reinstatements

In [21]:
# Physical locations will have lower location_ids
cur.execute("""


insert into fleetseek.location (address1, address2, city, county_fips, state_code, zip_code, country_code, latitude, longitude, county_name, fleet_id)
select
    phy_address1, 
    phy_address2, 
    phy_city,
    phy_countyfips,
    phy_state,
    phy_zip_code,
    'US',
    phy_latitude,
    phy_longitude,
    phy_countyname,
    fleet_id
from fleetseek.business_coder_updates_temp;


insert into fleetseek.location (address1, address2, city, county_fips, state_code, zip_code, country_code, latitude, longitude, county_name, fleet_id)

select 
    mai_address1, 
    mai_address2, 
    mai_city,
    mai_countyfips,
    mai_state,
    mai_zip_code,
    'US',
    mai_latitude,
    mai_longitude,
    mai_countyname,
    fleet_id

from fleetseek.business_coder_updates_temp;

""")
conn.commit()

## Contact and fleet_contact table

In [22]:
cur.execute("""

with inserted as (

    insert into fleetseek.contact (first_name, last_name, middle_name, suffix, physical_location_id, mailing_location_id, fleet_id)

    select 
            sub_q.first_name,
            sub_q.last_name,
            sub_q.middle_name,
            sub_q.suffix,
            sub_q.location_id,
            sub_q.b_location_id,
            sub_q.fs_fleet_id
    from (

        select 
        initcap(split_part(a.company_rep1, ' ', 1)) as first_name,
        case
            when (a.count_of_spaces = 3 and (a.company_rep1 ilike '%III%' or a.company_rep1 ilike '%III')) then initcap(split_part(a.company_rep1, ' ', 2))
            when (a.count_of_spaces = 3 and (a.company_rep1 not ilike '%jr' and a.company_rep1 not ilike '%jr.') and (a.company_rep1 not ilike '%sr' and a.company_rep1 not ilike '%sr.')) then initcap(concat(split_part(a.company_rep1, ' ', 2), ' ',  split_part(a.company_rep1, ' ', 3)))
            when (a.count_of_spaces = 3) then initcap(split_part(a.company_rep1, ' ', 2))
            when (a.count_of_spaces = 2 and a.company_rep1 ilike '%III%') then null
            when (a.count_of_spaces = 2 and (a.company_rep1 not ilike '%jr' and a.company_rep1 not ilike '%jr.') and (a.company_rep1 not ilike '%sr' and a.company_rep1 not ilike '%sr.')) then initcap(split_part(a.company_rep1, ' ', 2))
        end as middle_name,

        case 
            when (a.count_of_spaces = 3 and (a.company_rep1 ilike '%III%' or a.company_rep1 ilike '%III')) then initcap(split_part(a.company_rep1, ' ', 3))
            when (a.count_of_spaces = 3 and (a.company_rep1 not ilike '%jr' and a.company_rep1 not ilike '%jr.') and (a.company_rep1 not ilike '%sr' and a.company_rep1 not ilike '%sr.')) then initcap(split_part(a.company_rep1, ' ', 4))
            when (a.count_of_spaces = 1) then initcap(split_part(a.company_rep1, ' ', 2)) 
            when (a.count_of_spaces = 2 and company_rep1 ilike '%III%') then initcap(split_part(a.company_rep1, ' ', 2))
            when (a.count_of_spaces = 2 and (a.company_rep1 ilike '%jr%' or a.company_rep1 ilike '%sr%')) then initcap(split_part(a.company_rep1, ' ', 2))
            when (a.count_of_spaces = 2 and (a.company_rep1 not ilike '%jr%' or a.company_rep1 not ilike '%sr%')) then initcap(split_part(a.company_rep1, ' ', 3))
            when (a.count_of_spaces = 3) then initcap(split_part(a.company_rep1, ' ', 3))
        end as last_name,

        case
            when (a.count_of_spaces = 3 and (a.company_rep1 ilike '%III%' or a.company_rep1 ilike '%III')) then split_part(a.company_rep1, ' ', 4)
            when (a.count_of_spaces = 3 and (a.company_rep1 not ilike '%jr' and a.company_rep1 not ilike '%jr.') and (a.company_rep1 not ilike '%sr' and a.company_rep1 not ilike '%sr.')) then null
            when (a.count_of_spaces = 3) then split_part(a.company_rep1, ' ', 4)
            when (a.count_of_spaces = 2 and a.company_rep1 ilike '%jr%') then split_part(a.company_rep1, ' ', 3)
            when (a.count_of_spaces = 2 and a.company_rep1 ilike '%sr%') then split_part(a.company_rep1, ' ', 3)
            when (a.count_of_spaces = 2 and a.company_rep1 ilike '%III%') then split_part(a.company_rep1, ' ', 3)
        end as suffix,
        a.census_num,
        a.contact1_id,
        a.company_rep1,
        a.company_rep2,
        a.fleet_id as fs_fleet_id,
        sub_a.*


        FROM (
            SELECT

                b.company_rep1_remove_space as company_rep1,
                b.company_rep2_remove_space as company_rep2,
                length(b.company_rep1_remove_space) - length(replace(b.company_rep1_remove_space,' ', '')) AS count_of_spaces,
                length(b.company_rep2_remove_space) - length(replace(b.company_rep2_remove_space, ' ', '')) as count_of_spaces2,
                b.census_num,
                b.contact1_id,
                b.contact2_id,
                b.fleet_id


            FROM (
                select 
                    ui.mcmis_census_num as census_num,
                    ui.fs_fleet_id as fleet_id,
                    ui.fs_contact1_id as contact1_id,
                    ui.fs_contact2_id as contact2_id,
                    ui.mcmis_company_rep1 as company_rep1,
                    ui.mcmis_company_rep2 as company_rep2,
                    replace(ui.mcmis_company_rep1, '  ', ' ') as company_rep1_remove_space,
                    replace(ui.mcmis_company_rep2, '  ', ' ') as company_rep2_remove_space
                from fleetseek.update_input_2 as ui
                where 
                    update_reason like '%Reinstatement%' and
                    (ui.fs_contact1_id is null and ui.fs_contact2_id is null)

            ) as b

        ) as a
        join 
        ( select 
            a.*, b.location_id as b_location_id, b.address1 as b_address1, b.address2 as b_address2, b.address3 as b_address3, 
            b.city as b_city, b.county_fips as b_county_fips, b.state_code as b_state_code, b.zip_code as b_zip_code, 
            b.country_code as b_country_code, b.latitude as b_latitude, b.longitude as b_longitude, b.county_name as b_county_name

            from fleetseek.location as a
            join fleetseek.location as b
            on a.fleet_id = b.fleet_id
            where 
                a.location_id <> b.location_id and 
                b.location_id > a.location_id

        ) as sub_a
        on a.fleet_id = sub_a.fleet_id

    ) as sub_q

    union


    -- company_rep_2 if they exist
    select 
            sub_q.first_name,
            sub_q.middle_name,
            sub_q.last_name,
            sub_q.suffix,
            sub_q.location_id,
            sub_q.b_location_id,
            sub_q.fs_fleet_id as fleet_id
    from (

        select 
        initcap(split_part(a.company_rep2, ' ', 1)) as first_name,
        case
            when (a.count_of_spaces2 = 3 and (a.company_rep2 ilike '%III%' or a.company_rep2 ilike '%III')) then initcap(split_part(a.company_rep2, ' ', 2))
            when (a.count_of_spaces2 = 3 and (a.company_rep2 not ilike '%jr' and a.company_rep2 not ilike '%jr.') and (a.company_rep2 not ilike '%sr' and a.company_rep2 not ilike '%sr.')) then initcap(concat(split_part(a.company_rep2, ' ', 2), ' ',  split_part(a.company_rep2, ' ', 3)))
            when (a.count_of_spaces2 = 3) then initcap(split_part(a.company_rep2, ' ', 2))
            when (a.count_of_spaces2 = 2 and a.company_rep2 ilike '%III%') then null
            when (a.count_of_spaces2 = 2 and (a.company_rep2 not ilike '%jr' and a.company_rep2 not ilike '%jr.') and (a.company_rep2 not ilike '%sr' and a.company_rep2 not ilike '%sr.')) then initcap(split_part(a.company_rep2, ' ', 2))
        end as middle_name,

        case 
            when (a.count_of_spaces2 = 3 and (a.company_rep2 ilike '%III%' or a.company_rep2 ilike '%III')) then initcap(split_part(a.company_rep2, ' ', 3))
            when (a.count_of_spaces2 = 3 and (a.company_rep2 not ilike '%jr' and a.company_rep2 not ilike '%jr.') and (a.company_rep2 not ilike '%sr' and a.company_rep2 not ilike '%sr.')) then initcap(split_part(a.company_rep2, ' ', 4))
            when (a.count_of_spaces2 = 1) then initcap(split_part(a.company_rep2, ' ', 2)) 
            when (a.count_of_spaces2 = 2 and company_rep2 ilike '%III%') then initcap(split_part(a.company_rep2, ' ', 2))
            when (a.count_of_spaces2 = 2 and (a.company_rep2 ilike '%jr%' or a.company_rep2 ilike '%sr%')) then initcap(split_part(a.company_rep2, ' ', 2))
            when (a.count_of_spaces2 = 2 and (a.company_rep2 not ilike '%jr%' or a.company_rep2 not ilike '%sr%')) then initcap(split_part(a.company_rep2, ' ', 3))
            when (a.count_of_spaces2 = 3) then initcap(split_part(a.company_rep2, ' ', 3))
        end as last_name,

        case
            when (a.count_of_spaces2 = 3 and (a.company_rep2 ilike '%III%' or a.company_rep2 ilike '%III')) then split_part(a.company_rep2, ' ', 4)
            when (a.count_of_spaces2 = 3 and (a.company_rep2 not ilike '%jr' and a.company_rep2 not ilike '%jr.') and (a.company_rep2 not ilike '%sr' and a.company_rep2 not ilike '%sr.')) then null
            when (a.count_of_spaces2 = 3) then split_part(a.company_rep2, ' ', 4)
            when (a.count_of_spaces2 = 2 and a.company_rep2 ilike '%jr%') then split_part(a.company_rep2, ' ', 3)
            when (a.count_of_spaces2 = 2 and a.company_rep2 ilike '%sr%') then split_part(a.company_rep2, ' ', 3)
            when (a.count_of_spaces2 = 2 and a.company_rep2 ilike '%III%') then split_part(a.company_rep2, ' ', 3)
        end as suffix,
        a.census_num,
        a.contact1_id,
        a.company_rep1,
        a.company_rep2,
        a.fleet_id as fs_fleet_id,
        sub_a.*


        FROM (
            SELECT

                b.company_rep1_remove_space as company_rep1,
                b.company_rep2_remove_space as company_rep2,
                length(b.company_rep1_remove_space) - length(replace(b.company_rep1_remove_space,' ', '')) AS count_of_spaces,
                length(b.company_rep2_remove_space) - length(replace(b.company_rep2_remove_space, ' ', '')) as count_of_spaces2,
                b.census_num,
                b.contact1_id,
                b.contact2_id,
                b.fleet_id


            FROM (
                select 
                    ui.mcmis_census_num as census_num,
                    ui.fs_fleet_id as fleet_id,
                    ui.fs_contact1_id as contact1_id,
                    ui.fs_contact2_id as contact2_id,
                    ui.mcmis_company_rep1 as company_rep1,
                    ui.mcmis_company_rep2 as company_rep2,
                    replace(ui.mcmis_company_rep1, '  ', ' ') as company_rep1_remove_space,
                    replace(ui.mcmis_company_rep2, '  ', ' ') as company_rep2_remove_space
                from fleetseek.update_input_2 as ui
                where 
                    update_reason like '%Reinstatement%' and
                    (ui.fs_contact1_id is null and ui.fs_contact2_id is null) and
                    ui.mcmis_company_rep2 is not null

            ) as b

        ) as a

        join 
        ( select 
            a.*, b.location_id as b_location_id, b.address1 as b_address1, b.address2 as b_address2, b.address3 as b_address3, 
            b.city as b_city, b.county_fips as b_county_fips, b.state_code as b_state_code, b.zip_code as b_zip_code, 
            b.country_code as b_country_code, b.latitude as b_latitude, b.longitude as b_longitude, b.county_name as b_county_name

            from fleetseek.location as a
            join fleetseek.location as b
            on a.fleet_id = b.fleet_id
            where 
                a.location_id <> b.location_id and 
                b.location_id > a.location_id

        ) as sub_a
        on a.fleet_id = sub_a.fleet_id

    ) as sub_q

    returning
    fleet_id,
    contact_id
)
insert into fleetseek.fleet_contact (fleet_id, contact_id, created_date_time)
select
    fleet_id,
    contact_id,
    now()::timestamp without time zone
from inserted

""")

## Email

In [23]:
cur.execute("""
insert into fleetseek.email (email_address, fleet_id)
select mcmis_email_address, fs_fleet_id
from fleetseek.update_input_2
where fs_email_id is null
""")
conn.commit()

## Phone Number

In [24]:
cur.execute("""
insert into fleetseek.phone_number (phone_number, fleet_id, phone_type_id)

select 
    mcmis_phone, 
    fs_fleet_id, 
    case 
        when (mcmis_phone similar to ('800%|888%|877%|866%|855%|844%')) then 2
        else 1 
    end as phone_type_id

from fleetseek.update_input_2 as ui 
where 
    fs_phone_id is null and 
    fs_toll_free_id is null and
    fs_fax_id is null


union 


select 
    mcmis_fax, 
    fs_fleet_id, 
    3
from fleetseek.update_input_2
where fs_phone_id is null and 
    fs_toll_free_id is null and
    fs_fax_id is null and
    mcmis_fax is not null

""")
conn.commit()

## Fleet primary table

In [ ]:
# Creating temporary fleet_primary_table
cur.execute("""
CREATE TABLE fleetseek.fleet_primary_temp
(
    fleet_id integer,
    primary_contact_id integer,
    primary_phone_id integer,
    primary_fax_id integer,
    primary_toll_free_id integer,
    primary_physical_location_id integer,
    primary_mailing_location_id integer,
    update_date date,
    company_sort_key character varying COLLATE pg_catalog."default",
    total_vehicles integer,
    total_trailers integer,
    fleet_type character varying COLLATE pg_catalog."default",
    city character varying COLLATE pg_catalog."default",
    city_display character varying COLLATE pg_catalog."default",
    state_code character varying COLLATE pg_catalog."default",
    county_fips character varying COLLATE pg_catalog."default",
    zip_code character varying COLLATE pg_catalog."default",
    country_code character varying COLLATE pg_catalog."default",
    latitude numeric(10,6),
    longitude numeric(10,6),
    trailer_type_id integer[],
    unsafe_driv_pct double precision,
    fatigue_driv_pct double precision,
    driv_fitness_pct double precision,
    contr_subst_pct double precision,
    veh_maint_pct double precision,
    insurance_type character varying COLLATE pg_catalog."default",
    job_title_id integer[],
    commodity_id integer[],
    hazmat_trucks integer,
    hazmat_trailers integer,
    req_bipd_amount numeric(15,2),
    bipd_on_file_amount numeric(15,2),
    bipd_insurance_effective_date date,
    bipd_insurance_company character varying COLLATE pg_catalog."default",
    bipd_insurance_company_id integer,
    bipd_state character varying COLLATE pg_catalog."default",
    req_cargo boolean,
    cargo_on_file boolean,
    cargo_insurance_effective_date date,
    cargo_insurance_company character varying COLLATE pg_catalog."default",
    cargo_insurance_company_id integer,
    cargo_state character varying COLLATE pg_catalog."default",
    req_bond boolean,
    bond_on_file boolean,
    bond_insurance_effective_date date,
    bond_insurance_company character varying COLLATE pg_catalog."default",
    bond_insurance_company_id integer,
    bond_state character varying COLLATE pg_catalog."default",
    req_trust boolean,
    trust_on_file boolean,
    trust_insurance_effective_date date,
    trust_insurance_company character varying COLLATE pg_catalog."default",
    trust_insurance_company_id integer,
    trust_state character varying COLLATE pg_catalog."default",
    primary_email_id integer,
    mcmis_id integer,
    CONSTRAINT pk_fleet_primary_temp PRIMARY KEY (fleet_id)
)

""")
conn.commit()

In [ ]:

cur.execute("""
with inserted as --these will be the referenced rows for fleet_primary_temp
    (
    insert into fleetseek.fleet_primary (fleet_id, primary_contact_id, primary_physical_location_id, primary_mailing_location_id, 
                                     company_sort_key, total_vehicles, total_trailers, fleet_type, city, state_code, zip_code, 
                                     country_code, primary_email_id, primary_phone_id, primary_fax_id, primary_toll_free_id, 
                                     city_display, update_date, county_fips, latitude, longitude, commodity_id, trailer_type_id, job_title_id,
                                     hazmat_trucks, hazmat_trailers)

    select 
        sub_q.fleet_id, 
        sub_q.contact_id, 
        sub_q.physical_location_id, 
        sub_q.mailing_location_id, 
        sub_q.company_sort_key, 
        sub_q.total_vehicles,
        sub_q.total_trailers, 
        sub_q.fleet_type, 
        sub_q.city, 
        sub_q.state_code, 
        sub_q.zip_code, 
        sub_q.country_code, 
        sub_q.email_id, 
        sub_q.phone_number_id,
        case when (sub_q.b_phone_type_id = 3) then sub_q.b_phone_number_id end as primary_fax_id, 
        case when (sub_q.b_phone_type_id = 2) then sub_q.b_phone_number_id end as primary_toll_free_id,
        case when(sub_q.countyname is null) then concat(initcap(sub_q.city), ', ', sub_q.state_code)
                        else concat(initcap(sub_q.city), ', ', sub_q.state_code, ' (', sub_q.countyname, ') ') end as city_display,
        sub_q.update_date,
        sub_q.countyfips,
        sub_q.latitude, 
        sub_q.longitude,
        sub_q.commodity_id::integer[],
        sub_q.trailer_type_id::integer[],
        case 
            when (sub_q.fs_original_job_title1 = 'Principal') then array[7]
            when (sub_q.fs_original_job_title1 = 'Owner-Operator') then array[6]
            when (sub_q.fs_original_job_title1 = 'Supervisor') then array[5]
            when (sub_q.fs_original_job_title1 = 'Manager of Transportation') then array[4]
            when (sub_q.fs_original_job_title1 = 'General Manager') then array[3]
            when (sub_q.fs_original_job_title1 = 'Operating Executive') then array[2]
            when (sub_q.fs_original_job_title1 = 'Owner/Executive') then array[1]
        end as job_title_id,
        sub_q.hazmat_trucks,
        sub_q.hazmat_trailers


    from (
        select 
            fs.fleet_id, 
            contact_info.contact_id, 
            location_info.location_id as physical_location_id, 
            location_info.b_location_id as mailing_location_id, 
            fs.company_sort_key, 
            fs.total_vehicles, 
            fs.total_trailers, 
            case 
                when (fs.product_code = 'OOD') then 'OWNER OPERATOR'
                when (fs.product_code = 'NMC') then 'FOR-HIRE'
                when (fs.product_code = 'PFD') then 'PRIVATE FLEET'
            end as fleet_type,
            location_info.city,
            location_info.state_code,
            location_info.zip_code,
            location_info.country_code,
            location_info.county_fips as countyfips,
            location_info.latitude,
            location_info.longitude,
            location_info.county_name as countyname,
            e.email_id,
            phone_info.phone_number_id,
            phone_info.phone_type_id,
            phone_info.phone_number,
            phone_info.b_phone_number_id,
            phone_info.b_phone_type_id,
            phone_info.b_phone_number,
            ui.fs_original_job_title as fs_original_job_title1,
            string_to_array(ui.fs_trailer_types, ',')::int[] as trailer_type_id,
            fs.update_date,
            sub_e.commodity_ids as commodity_id,
            sum(fs.haz_trucks_owned + fs.haz_trucks_leased) as hazmat_trucks,
            sum(fs.haz_trailers_owned + fs.haz_trailers_leased) as hazmat_trailers

        from fleetseek.fleet as fs
        join fleetseek.update_input_2 as ui
        on fs.fleet_id = ui.fs_fleet_id
        join (  
            select 
                a.*,
                b.location_id as b_location_id, 
                b.fleet_id as b_fleet_id

            from fleetseek.location as a
            join fleetseek.location as b
            on a.fleet_id = b.fleet_id
            join fleetseek.update_input_2 as c
            on a.fleet_id = c.fs_fleet_id
            where a.location_id <> b.location_id and b.location_id > a.location_id and
            c.update_reason like '%Reinstatement%'
             ) as location_info
        on ui.fs_fleet_id = location_info.fleet_id
        join fleetseek.email as e
        on location_info.fleet_id = e.fleet_id
        join (
            select c.contact_id, c.first_name, c.last_name, c.middle_name, c.fleet_id
            from fleetseek.contact as c
            join (
                select 
                    min(contact_id) as contact_1, 
                    fleet_id
                from fleetseek.contact
                group by fleet_id
                 ) as first_contact
            on c.fleet_id = first_contact.fleet_id and c.contact_id = first_contact.contact_1
        ) as contact_info
        on e.fleet_id = contact_info.fleet_id
        join 
               (
                select 
                    a.phone_number_id, 
                    a.phone_type_id, 
                    a.phone_number, 
                    nullif(b.phone_number_id, a.phone_number_id) as b_phone_number_id, 
                    nullif(b.phone_type_id, a.phone_type_id) as b_phone_type_id, 
                    nullif(b.phone_number, a.phone_number) as b_phone_number, 
                    b.fleet_id

                from fleetseek.phone_number as a
                join fleetseek.phone_number as b
                on a.fleet_id = b.fleet_id
                join (
                    select 
                        fleet_id, 
                        count(fleet_id) as count_of_id

                    from fleetseek.phone_number
                    where fleet_id is not null
                    group by fleet_id
                ) as d
                on b.fleet_id = d.fleet_id
                where a.phone_type_id = 1 and d.count_of_id = 1


                union all

                select 
                    a.phone_number_id, 
                    a.phone_type_id, 
                    a.phone_number, 
                    b.phone_number_id as b_phone_number_id, 
                    b.phone_type_id as b_phone_type_id, 
                    b.phone_number as b_phone_number, 
                    b.fleet_id

                from fleetseek.phone_number as a
                join fleetseek.phone_number as b
                on a.fleet_id = b.fleet_id
                where a.phone_type_id = 1 and a.phone_number_id <> b.phone_number_id

                )

         as phone_info
         on ui.fs_fleet_id = phone_info.fleet_id
         join 
         ( 
             select string_to_array(sub_d1.commodity_ids, ',')::int[] as commodity_ids, mcmis_census_num
             from (
                 select string_agg(commodity_id::varchar, ', ') as commodity_ids, mcmis_census_num
                 from (
                     select *
                     from fleetseek.commodity as fc
                     join 
                     (
                        select *
                        from (   

                            select mcmis_census_num, concat(genfreight, '  ', household, '  ', metalsheet, '  ', motorveh, '  ', drivetow, '  ', logpole, '  ', bldgmat, '  ', 
                                                      mobilehome, '  ', machlrg, '  ', produce, '  ', liqgas, '  ', intermodal, '  ', passengers, '  ', oilfield, '  ', 
                                                      livestock, '  ', grainfeed, '  ', coalcoke, '  ', meat, '  ', garbage, '  ', usmail, '  ', chem, '  ',
                                                      drybulk, '  ', coldfood, '  ', beverages, '  ', paperprod, '  ', utility, '  ', farmsupp, '  ', construct, '  ',
                                                      waterwell, '  ') as all_commodities
                            from (
                                select
                                mcmis_census_num as mcmis_census_num,
                                mcmis_class as class,
                                fs_product_code as product_code,

                                case 
                                        when(mcmis_genfreight is not null) then 'General Freight' else null
                                    end as genfreight,
                                    case
                                        when(mcmis_household is not null) then 'Household Goods' else null
                                    end as household,
                                    case
                                        when(mcmis_metalsheet is not null) then 'Metal, Sheet, Coil, Rolls' else null
                                    end as metalsheet,
                                    case
                                        when(mcmis_motorveh is not null) then 'Motor Vehicles' else null
                                    end as motorveh,
                                    case
                                        when(mcmis_drivetow is not null) then 'Driveaway/Towaway' else null
                                    end as drivetow,
                                    case
                                        when(mcmis_logpole is not null) then 'Logs, Poles, Beams, Lumber' else null
                                    end as logpole,
                                    case
                                        when(mcmis_bldgmat is not null) then 'Building Materials' else null
                                    end as bldgmat,
                                    case
                                        when(mcmis_mobilehome is not null) then 'Mobile Homes' else null
                                    end as mobilehome,
                                    case
                                        when(mcmis_machlrg is not null) then 'Machinery, Large Objects' else null
                                    end as machlrg,
                                    case
                                        when(mcmis_produce is not null) then 'Fresh Produce' else null
                                    end as produce,
                                    case
                                        when(mcmis_liqgas is not null) then 'Liquids/Gases' else null
                                    end as liqgas,
                                    case
                                        when(mcmis_intermodal is not null) then 'Intermodal Containers' else null
                                    end as intermodal,
                                    case
                                        when(mcmis_passengers is not null) then 'Passengers' else null
                                    end as passengers,
                                    case
                                        when(mcmis_oilfield is not null) then 'Oilfield Equipment' else null
                                    end as oilfield,
                                    case
                                        when(mcmis_livestock is not null) then 'Livestock' else null
                                    end as livestock,
                                    case
                                        when(mcmis_grainfeed is not null) then 'Grain, Feed, Hay' else null
                                    end as grainfeed,
                                    case
                                        when(mcmis_coalcoke is not null) then 'Coal, Coke' else null
                                    end as coalcoke,
                                    case
                                        when(mcmis_meat is not null) then 'Meat' else null
                                    end as meat,
                                    case
                                        when(mcmis_garbage is not null) then 'Garbage, Refuse, Trash' else null
                                    end as garbage,
                                    case
                                        when(mcmis_usmail is not null) then 'U.S. Mail' else null
                                    end as usmail,
                                    case
                                        when(mcmis_chem is not null) then 'Chemicals' else null
                                    end as chem,
                                    case
                                        when(mcmis_drybulk is not null) then 'Commodities Dry Bulk' else null
                                    end as drybulk,
                                    case
                                        when(mcmis_coldfood is not null) then 'Refrigerated Food' else null
                                    end as coldfood,
                                    case
                                        when(mcmis_beverages is not null) then 'Beverages' else null
                                    end as beverages,
                                    case
                                        when(mcmis_paperprod is not null) then 'Paper Products' else null
                                    end as paperprod,
                                    case
                                        when(mcmis_utility is not null) then 'Utility' else null
                                    end as utility,
                                    case
                                        when(mcmis_farmsupp is not null) then 'Farm Supplies' else null
                                    end as farmsupp,
                                    case
                                        when(mcmis_construct is not null) then 'Construction' else null
                                    end as construct,
                                    case
                                        when(mcmis_waterwell is not null) then 'Water - Well' else null
                                    end as waterwell,
                                    initcap(mcmis_othercargo) as othercargo,
                                sum(mcmis_owntrail + mcmis_trmtrail + mcmis_trptrail) as total_trailers,
                                sum(mcmis_owntract + mcmis_trmtract + mcmis_trptract) as total_tractors
                            from fleetseek.update_input_2
                            where update_reason like '%Reinstatement%'
                            group by mcmis_genfreight, mcmis_household, mcmis_metalsheet, mcmis_motorveh, mcmis_drivetow, mcmis_logpole, mcmis_bldgmat, 
                                mcmis_mobilehome, mcmis_machlrg, mcmis_produce, mcmis_liqgas, mcmis_intermodal, mcmis_passengers, mcmis_oilfield, 
                                mcmis_livestock, mcmis_grainfeed, mcmis_coalcoke, mcmis_meat, mcmis_garbage, mcmis_usmail, mcmis_chem,
                                mcmis_drybulk, mcmis_coldfood, mcmis_beverages, mcmis_paperprod, mcmis_utility, mcmis_farmsupp, mcmis_construct,
                                mcmis_waterwell, mcmis_othercargo, mcmis_census_num, mcmis_cargoothr, mcmis_class, fs_product_code
                            ) as sub_a
                        ) as sub_b, unnest(string_to_array(all_commodities, '  ')) as token
                    ) as sub_c
                    on fc.description = sub_c.token
                    order by mcmis_census_num
                ) as sub_d  
                group by sub_d.mcmis_census_num
            ) as sub_d1
        ) as sub_e
        on ui.mcmis_census_num = sub_e.mcmis_census_num

        where ui.update_reason like '%Reinstatement%'
        group by 
            fs.fleet_id, 
            contact_info.contact_id, 
            location_info.location_id,
            location_info.b_location_id,
            fs.company_sort_key, 
            fs.total_vehicles, 
            fs.total_trailers, 
            fs.product_code,
            location_info.city,
            location_info.state_code,
            location_info.zip_code,
            location_info.country_code,
            location_info.county_fips,
            location_info.latitude,
            location_info.longitude,
            location_info.county_name,
            e.email_id,
            phone_info.phone_number_id,
            phone_info.phone_type_id,
            phone_info.phone_number,
            phone_info.b_phone_number_id,
            phone_info.b_phone_type_id,
            phone_info.b_phone_number,
            ui.fs_original_job_title,
            ui.fs_trailer_types,
            fs.update_date,
            sub_e.commodity_ids,
            fs.haz_trucks_owned,
            fs.haz_trucks_leased,
            fs.haz_trailers_owned, 
            fs.haz_trailers_leased

    ) as sub_q

    returning 
        fleet_id, 
        primary_contact_id, 
        primary_physical_location_id, 
        primary_mailing_location_id, 
        company_sort_key, total_vehicles,
        total_trailers, 
        UPPER(fleet_type) as fleet_type, 
        city, 
        state_code, 
        zip_code, 
        country_code, 
        primary_email_id, 
        primary_phone_id, 
        primary_fax_id,
        primary_toll_free_id,
        city_display, 
        update_date,
        county_fips,
        latitude,
        longitude,
        commodity_id,
        trailer_type_id,
        job_title_id,
        hazmat_trucks,
        hazmat_trailers

)
insert into fleetseek.fleet_primary_temp (fleet_id, primary_contact_id, primary_physical_location_id, primary_mailing_location_id, company_sort_key, total_vehicles,
                                         total_trailers, fleet_type, city, state_code, zip_code, country_code, primary_email_id, primary_phone_id,
                                         primary_fax_id, primary_toll_free_id, city_display, update_date, county_fips, latitude, longitude, commodity_id, trailer_type_id,
                                         job_title_id, hazmat_trucks, hazmat_trailers)

select 
    fleet_id, 
    primary_contact_id, 
    primary_physical_location_id, 
    primary_mailing_location_id, 
    company_sort_key, 
    total_vehicles,
    total_trailers, 
    fleet_type, city, 
    state_code, 
    zip_code, 
    country_code, 
    primary_email_id, 
    primary_phone_id, 
    primary_fax_id, 
    primary_toll_free_id,
    city_display,
    update_date,
    county_fips,
    latitude,
    longitude,
    commodity_id,
    trailer_type_id,
    job_title_id, 
    hazmat_trucks, 
    hazmat_trailers

from inserted 
""")
conn.commit()

In [110]:
cur.execute("""
alter table fleetseek.location
drop column fleet_id;

alter table fleetseek.contact
drop column fleet_id;

alter table fleetseek.email
drop column fleet_id;

alter table fleetseek.phone_number
drop column fleet_id;
""")
conn.commit()

## Contact_email

In [111]:
cur.execute("""
insert into fleetseek.contact_email (contact_id, email_id)
select primary_contact_id, primary_email_id
from fleetseek.fleet_primary_temp
""")
conn.commit()

## Contact_phone

In [112]:
cur.execute("""
insert into fleetseek.contact_phone (contact_id, phone_number_id, created_date_time)
select 
    sub_q.contact_id,
    sub_q.phone_number_id,
    sub_q.created_date_time
from (
    select 
        c.contact_id, 
        pn.phone_number_id,
        now()::timestamp without time zone as created_date_time
    from fleetseek.contact as c
    join fleetseek.update_input_2 as ui
    on c.fleet_id = ui.fs_fleet_id
    join fleetseek.phone_number as pn
    on ui.fs_fleet_id = pn.fleet_id
) as sub_q
""")
conn.commit()

## Fleet_contact

In [113]:
# As of 2/27/2020 using the CTE but keeping this just in case


# cur.execute("""
# insert into fleetseek.fleet_contact (fleet_id, contact_id, created_date_time)
# select
#     sub_q.fleet_id,
#     sub_q.contact_id, 
#     sub_q.created_date_time
# from (
#     select
#         ui.fs_fleet_id as fleet_id,
#         c.contact_id,
#         now()::timestamp without time zone as created_date_time
#     from fleetseek.update_input_2 as ui
#     join fleetseek.contact as c
#     on ui.fs_fleet_id = c.fleet_id
# )
# """)
# conn.commit()

## Fleet_location

In [114]:
cur.execute("""
insert into fleetseek.fleet_location (fleet_id, location_id, location_type, created_date_time)
select
    sub_q.fleet_id,
    sub_q.location_id,
    sub_q.location_type,
    sub_q.created_date_time
from (
    select 
        fleet_id,
        primary_physical_location_id as location_id,
        'physical' as location_type,
        now()::timestamp without time zone as created_date_time
    from fleetseek.fleet_primary_temp

    union

    select
        fleet_id, 
        primary_mailing_location_id as location_id, 
        'mailing' as location_type,
        now()::timestamp without time zone as created_date_time
    from fleetseek.fleet_primary_temp
) as sub_q
""")
conn.commit()

## Fleet_commodity

In [115]:
# Performing the any(fp.commodity_id) makes it so it returns all rows rather than just a single row
cur.execute("""
insert into fleetseek.fleet_commodity (fleet_id, commodity_id, sort_order)

select 
    sub_q.fleet_id, 
    sub_q.c_commodity_id, 
    sub_q.sort_order
from (
    select 
        fp.fleet_id, 
        fp.commodity_id as fp_commodity_id, 
        c.commodity_id as c_commodity_id, 
        c.sort_order
    from fleetseek.fleet_primary_temp as fp
    join fleetseek.commodity as c 
    on c.commodity_id = any(fp.commodity_id)
) as sub_q
""")
conn.commit()

## Fleet_phone

In [116]:
#May or may not need to maintain this table?
cur.execute("""
insert into fleetseek.fleet_phone (fleet_id, phone_number_id)

select fleet_id, primary_phone_id
from fleetseek.fleet_primary_temp

union all

select fleet_id, primary_fax_id
from fleetseek.fleet_primary_temp
where primary_fax_id is not null

union all

select fleet_id, primary_toll_free_id
from fleetseek.fleet_primary_temp
where primary_toll_free_id is not null
order by fleet_id
""")
conn.commit()

## Drop fleet_primary_temp

In [117]:
cur.execute("""
drop table fleetseek.fleet_primary_temp;

""")
conn.commit()